<!DOCTYPE html>
<html>
  <head>
    <title>Whatswrapped</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <div class="flex items-center justify-center flex-col mx-auto mt-4 mb-4">
        <h1 class="text-lg sm:text-xl md:text-2xl font-bold text-gray-700 text-center">Tu <br>Whatsapp <br>Envuelto</h1>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
